.simulationPage {
    margin: 2rem;
    height: calc(100vh - 12rem);
}

.container {
    display: flex;
    justify-content: center;
    gap: 20rem;
    height: 95%;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 32rem;
}