.interactPage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: calc(100vh - 11rem);
}

.topFrame {
    height: 40%;
    display: flex;
}

.bottomFrame {
    height: 60%;
    display: grid;
    grid-template-columns: 39rem 1fr;
    gap: 2rem;
}